.currency {
        padding: 1rem 2rem 2rem;
        margin: 1rem;
        border-radius: 0.5rem;
        min-width: 9rem;
        border: solid 2px rgba(0, 0, 0, 0.5);
    }
    .currency p {
        color: rgba(0, 0, 0, 0.75);
    }
    .currency-name {
        font-size: 1.25rem;
    }
    .usd {
        background-color: #fbe2c3;
    }
    .eur {
        background-color: #c2c9ff;
    }
    .gbp {
        background-color: #ececec;
    }